* {
    box-sizing: border-box;
    margin: 0;
} 

html { 
    font-size: 1rem; 
    scroll-behavior: smooth;
    scroll-padding-top: 45px;
}

body {
    background: white;
    font-family: 'Lato', sans-serif;
    color:#000000;
    line-height: 1.5;
    max-width: 1366px;
}

h2 {
    text-align: center; 
    text-transform: uppercase;
    color: #663366;
    font-weight: 700;
}

#menuShowHide {
	position: absolute;
	left:-999em;
}

.mainMenu { 
    max-width: 1366px;
    width: 100%;
    list-style: none;
	text-align: center;
    padding: 0.25em 0;
    top: 0;
    position: fixed;
    z-index: 2;
    background: radial-gradient(circle, rgba(102,51,102,1) 7%, rgba(255,255,255,1) 100%);
}

.mainMenu li {
    display:inline-block;
    text-transform: uppercase;
    font-weight: 700;
}

.mainMenu a {
	display:inline-block;
	padding:0.25em 1em;
	text-decoration:none;
	color: #fff;
}

.mainMenu a:active,
.mainMenu a:focus,
.mainMenu a:hover {
    color: #000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 4% 5%;
}

.portrait {
    display: flex;
    justify-content: center;
    flex: 0 2 40%;
    margin: 3%;
}
.portrait img {
    width: 250px;
    height: auto;
}
.bio {
    flex: 0 1 50%;
    flex-wrap: wrap;
    word-wrap: break-word;
    hyphens: auto;
        --webkit-hyphens: auto;
        --ms-hyphens: auto;
    text-align: justify;
 }
 /*work*/

.work_icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 15px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 3% 5%;
    text-align: center;
}

.icon > img {
    width: 25%;    
}

.icon > p {
    color: #663366;
    line-height: 1;
}

#icon1 {
    -ms-grid-column: 1;    
}

#icon2 {
    -ms-grid-column: 2;   
}

#icon3 {
    -ms-grid-column: 3;
}

#icon4 {
    -ms-grid-column: 4;    
}

.second-row {
    margin-top: 3%;
    -ms-grid-column-span: 4;
    -ms-grid-row: 3;
    grid-row: margin;
    grid-column: 1/-1;
    text-align: justify;
}

/* aktywizm*/
.slideshow {
    overflow-x: hidden;
    justify-items: center;
    width: 600px;
    height: 450px;
    margin: 3% auto;
}
.slideshow img {
    display: block;
    background-size: cover;    
} 

.slideshow-content {
    list-style: none; 
    display: flex;
    padding: 0;
    --webkit-animation: slide 8s linear infinite;
    --moz-animation: slide 8s linear  infinite;
    --o-animation: slide-small 8s linear  infinite;
    --ms-animation: slide-small 8s linear  infinite;
    animation: slide 8s linear infinite;
}

.slideshow-content:hover{
    animation-play-state:paused;
}

@keyframes slide {
    5% {
        transform: translateX(0);
    }
    6%, 20% {
        transform: translateX(-600px);
    }
    21%, 35% {
        transform: translateX(-1200px);
    }
    36%, 50% {
        transform: translateX(-1800px);
    }
    51%, 65% {
        transform: translateX(-2400px);
    }
    66%, 80% {
        transform: translateX(-3000px);
    }
    81%, 95% {
        transform: translateX(0);
    }
}

.slideshow-text {
    text-align: justify;
    margin: 3% 5%;
}

/* pasje */
.passion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px 5px;
    padding: 3% 5%;
    justify-items: center;
    align-items: center;
}

.passion .photo {
    display: -ms-grid;
    display: grid;
    justify-items: center;
}

.object1 {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    grid-area: 1 / 2 / 2 / 3;
}

.object2 {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    grid-area: 2 / 1 / 3 / 2;
}

.object3 {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-row-align: center;
    grid-area: 2 / 2 / 3 / 3;
    width: 92%;
    text-align: center;
}

.object4 {
   -ms-grid-column: 3;
    -ms-grid-row: 2;
    grid-area: 2 / 3 / 3 / 4;
}

.object5 {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    grid-area: 3 / 2 / 4 / 3;
}

.passion img {
    height: 300px;
    width: 90%;
    object-fit: cover; 
    transition: .5s ease-in-out;
}

.photo:hover img {
  transform: scale(1.1);
}

/* form  */

#contact-form {
    display: -ms-grid;
    display: grid;    
    width: 50%;
    -ms-grid-columns: 10% 80%;
    -ms-grid-rows: 30px 10px 30px 10px 30px 10px 200px 10px 30px;
    grid-template-columns: 3em 1fr;
    grid-gap: 16px;
    padding: 2em;
    background: #A8A8A8;
    margin: 3% auto;
    color: #000000; 
}

#firstName {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
} 

#email {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
} 

#topic-text {
    -ms-grid-column: 2;
    -ms-grid-row: 5;
} 

#message-text {
    -ms-grid-column: 2;
    -ms-grid-row: 7;
} 

#button {
    -ms-grid-column: 2;
    -ms-grid-row: 9;
} 

/* #contact-form:first-child { */
    #first-name-label {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    
    /* #contact-form:nth-child(2) { */
    #email-label {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }
    
    /* #contact-form:nth-child(4) { */
    #topic-text-label {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
    }
    
    /* #contact-form:nth-child(7) { */
    #message-text-label {
        -ms-grid-column: 1;
        -ms-grid-row: 7;
    }

#contact-form input, textarea {
    background: #fff;
    border: 1px solid #a754a7;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
}

#contact-form input:focus, textarea:focus {
    border: 2px solid #663366;
}

#contact-form label {    
    grid-column: 1 / 2;
    text-align: left;
}
    
#contact-form #button {
    background: #fff;
    padding: 0.7em;
    width: 30%;
    border: 1px solid #a754a7;
    font-weight: 700;
}

#contact-form #button:hover {
    background: #a754a7;
}
  
input, #button {
    grid-column: 2 / 3;
}

  /* footer */
footer {
      width: 100%;
      padding: 2% 3% 1%;
      text-align: center;
      background: radial-gradient(circle, rgba(102,51,102,1) 7%, rgba(255,255,255,1) 100%);
      display: inline-block;       
 }

 .attribution * {
     color: white;
     font-size: 0.8rem;
     text-decoration: none;
     margin-top: 1%;     
 }

 .social-media > a > img {
     width: auto;
     height: 40px;
     margin-right: 3%;    
     filter: invert(100%);
     vertical-align: middle;
 }

 .social-media  #network {
    filter: grayscale(100%);
    height: 60px;
 }

  /* media queries */
@media only screen and (min-width: 1367px) {  
body {
    margin: auto;
}

}

@media only screen and (max-width: 992px) {  
  
.passion {
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-columns: repeat(2, 1fr);
}
.object1 {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-area: 1 / 1 / 2 / 2;
}
.object2 {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    grid-area: 1 / 2 / 2 / 3;
}
.object3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;    
    grid-area: 2 / 1 / 3 / 3;
}
.object4 {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    grid-area: 3 / 1 / 4 / 2;
}
.object5 {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    grid-area: 3 / 2 / 4 / 3;
}
}

@media only screen and (max-width: 768px) {
    
html { 
    scroll-padding-top: 17px;
}
body {
    line-height: 1.5;
}
.mainMenu {
    display: none;
    overflow: hidden;
}
.mainMenu li {
    float: left;
    width: 100%;
}
.mainMenu a {
    display:block;
}
#menuShowHide + label:before {
    content: "Pokaż menu";
    position: fixed;
    width: 100%;
    z-index: 2;
    color: #663366;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
#menuShowHide:checked + label:before {
    content: "Ukryj menu";
    z-index: 999;
    color: #663366;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
}
#menuShowHide:checked ~ .mainMenu {
    display: block;   
}
#menuShowHide {
    display: none;
}

.portrait, .bio {
    display: flex; 
    flex: 1 1 50%;
}

.work_icons {
    -ms-grid-columns: 1fr 1em 1fr;
    -ms-grid-rows: auto 10px auto 10px auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    -ms-grid-column-align: center;
     margin-bottom: 10%;
}
.icon > img {
    width: 30%;
}
#icon1 {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}
#icon2 {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}
#icon3 {
    -ms-grid-column: 1;
    -ms-grid-row: 3;    
}
#icon4 {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}
.second-row {
    -ms-grid-column-span: 3;
    -ms-grid-row: 5;
}
#contact-form {
    width: 75%;
}
}

@media only screen and (max-width: 576px) {

#contact-form {
    width: 85%;
}
.slideshow {
    overflow-x: hidden;
    justify-items: center;
    width: 300px;
    height: 225px;
    margin: 3% auto;
}
.slideshow-content {
    --webkit-animation: slide-small 8s linear infinite;
    --moz-animation: slide-small 8s linear  infinite;
    --o-animation: slide-small 8s linear  infinite;
    --ms-animation: slide-small 8s linear  infinite;
    animation: slide-small 8s linear infinite;
}
.slideshow img {
    display: block;
    background-size: contain;    
    width: 300px;
    height: 225px;
} 
.passion {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 10px auto 10px auto 10px auto 10px auto 10px;
    grid-template-columns: repeat(1, 1fr);
}
.object1 {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
}
.object2 {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    width: 100%;
    grid-area: 2 / 1 / 3 / 2;
}
.object3 {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
    width: 90%;
    grid-area: 3 / 1 / 4 / 2;
}
.object4 {
    -ms-grid-column: 1;
    -ms-grid-row: 7;
    width: 100%;
    grid-area: 4 / 1 / 5 / 2;
}
.object5 {
    --ms-grid-column: 1;
    --ms-grid-row: 9;
    width: 100%;
    grid-area: 5 / 1 / 6 / 2;
}
@keyframes slide-small {
5% {
    transform: translateX(0);
}
6%, 21% {
    transform: translateX(-300px);
}
22%, 37% {
    transform: translateX(-600px);
}
38%, 53% {
    transform: translateX(-900px);
}
54%, 69% {
    transform: translateX(-1200px);
}
70%, 85% {
    transform: translateX(-1500px);
}
86%, 95% {
    transform: translateX(0);
}
}
.social-media > a > img {
    height: 25px;
}

.social-media  #network {
    height: 40px;
}
}
