body
{
    background: white;
    font-family: 'Lato', sans-serif;
	font-size: 20px;
	color:#000000;
}

#menuShowHide {
	position:absolute;
	left:-999em;
}

#mainMenu {
	list-style:none;
	text-align:center;
	padding:0.25em 0;
	margin-bottom:1em;
	background:#663366;
}

#mainMenu li {
    display:inline;
    text-transform: uppercase;
}

#mainMenu a {
	display:inline-block;
	padding:0.25em 1em;
	text-decoration:none;
	color: #fff;
}

#mainMenu a:active,
#mainMenu a:focus,
#mainMenu a:hover {
	background:#ddbbdd;
}

@media only screen and (max-width: 768px) {
    #mainMenu {
        display: none;
        overflow: hidden;
    }
    #mainMenu li {
        float: left;
        width: 100%;
    }
    #mainMenu a {
        display:block;
    }
    #menuShowHide + label:before {
        content: "Pokaż menu";
    }
    #menuShowHide:checked + label:before {
        content: "Ukryj menu";
    }
    #menuShowHide:checked ~ #mainMenu {
        display: block;
    }